# Ignore node_modules directory
node_modules

# Ignore environment configuration files
.env
.env.*
config/*.env

# Ignore log files
logs/*
*.log

# Ignore built output
build/
dist/
public/*

# Ignore development files
*.swp
*.bak
.DS_Store
Thumbs.db

# Ignore user-specific settings
.vscode/*
.idea/*
*.iml
*.ipr
*.iws

# Ignore package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore production assets
public/build/
.vercel
